<a href="https://colab.research.google.com/github/p09323028/2021f_NTU_Data-Science-and-Social-Inquiry/blob/main/Course/P02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resource
* [Slide: Py02 Basic](https://docs.google.com/presentation/d/e/2PACX-1vSlofAj4mFI_gXntfgMTelq-9qKHj1XE6-36DI87vGoKdyW9vaF-jeJzZqGIT7d-kknaQQc4M4DfROx/pub?start=false&loop=false&delayms=3000)
* [Github repo: P4CSS/PSS](https://github.com/P4CSS/PSS)

# Outline

1. Print and print format
2. Variables
3. Arithemetic operations
4. Example: Converting temperature format

# print
可用於印出字串、數字、以及變數的內容。若是一個變數的話，會印出變數的內容；若是一個「運算式」的話，會印出運算式的結果。語法是`print()`。

In [ ]:
# print "hello world" and specifying string by '' or ""
print("hello world")
print('hello world')

# print '"hello world"' 
print('"hello world"')

# print multiple "-" by multiplication *
print("-" * 10)

# print a number
print(1006)

# print an arithmetic expression  123*345-(188*123) = 
print(123*345-(188*123))

# print the above arithmetic expression by string
print("123*345-(188*123) = ")

hello world
hello world
"hello world"
----------
1006
19311
123*345-(188*123) =

## Print multiple terms
「`,`」在`print()`中可列印數個變數或值。可以把它想像成「接下去印」的意思。

In [ ]:
# print 123*345-(188*123) = 19311 
print("123*345-(188*123) = 19311")

# print a sequence of strings separated by comma, 
print("123*345-(188*123) =", 123*345-(188*123) )

123*345-(188*123) = 19311
123*345-(188*123) = 19311

## Print tab and newline
在程式語言中，`\t`代表一個tab，`\n`代表使用者敲Enter下去時所產生的換行符號（Newline）。這些也可以用`print()`列印出來。

In [ ]:
# print a sequence of strings with newline \n
# print some strings in the follow format
# 	My name is  jilung hsieh
# 	my age is  36
print("My name is Jin-ze,\nI am 30 years old.")

My name is Jin-ze,
I am 30 years old.

# Variable

## Assignment  =

**自右而左的Assignment：**在幾乎所有的程式語言中，`=`的記號均為assignment，意是把右方演算的結果，Assign（指派）給左方的變數。是的，左方幾乎都是變數。且右方的資料如果是整數，Assign給左方時，左方就是個整數。

**那「等於」的符號是什麼？**如果想要在程式語言中表達「相等」，通常是連續兩個等號`==`，例如`1/2 == 4/2`，為邏輯運算式，邏輯運算的結果會得到`true`或`false`。

在Python中最特別的是，Assignment的使用可以多對多，例如`a, b = 1, 2`

## Naming of variables

* 不可用數字開始，例如`123b = 13a + 14b`。當然也不可以是中文。
* 中間不得有空白，例如`my book = 13a + 14b` (why?)
* 不可使用[reserved word](https://docs.python.org/2.5/ref/keywords.html)(why?)   
* 關於Python程式寫作的風格，可參考[PEP 0008](https://www.python.org/dev/peps/pep-0008/)，其中，[Naming conventions](https://www.python.org/dev/peps/pep-0008/#naming-conventions)一節有提到變數要如何命名。
    * 若全部是大寫的，多半是常數，例如最大寬度、PI的值。
    * 若是底線開頭的，應該是區域變數（Local variable，你還不用知道）

In [ ]:
a = 3
b = 4
c = a + b
_a, _b, _c = 1, 2, 3
MAXWIDTH = 60
# and, for = 1, 2
# print(and, for)

In [ ]:
a, b = 2, 3
a, b = b, a
print(a, b)

3 2

## Data types

`list`, `dictionary`是python這個程式語言的內建資料型態。請參閱[5. Built-in Types](https://docs.python.org/2/library/stdtypes.html)。常見的資料型態共有以下幾種

* 真偽True and false
* 數值Numeric Types— `int`(整數), `float`(有小數點的), long, complex
    * floating point number: e.g., `b = 12.3`
    * integer: e.g., `c = 123`
* 序列Sequence Types— `str`(文字字串), unicode, `list`, `tuple`, bytearray, buffer, xrange。
    * list: `alist = []`
    * tuple: `ab = (1, 2, 3)`
* 集合Set Types— `set`, frozenset
* 對應Mapping Types— `dict`。例如`bdict = {1:2, 3:4, '5':6, '7':'8', 9:'10.11', 12:[13, 14, 15], 13:{14:'15', '16':[17, 18]}}`
* 檔案File Objects
* 字串string: e.g., `a = '12.3'`

## Assignment also creates data type
變數使用Assignment（指派）來讓程式知道該變數的變數型態為何。右側的運算必然會產生一個某種變數型態的值，當把這樣的變數型態assign給左側的變數時，左側的變數便會自動被設定為該型態。注意！一定是把右方的內容（右方可能是數值也可能是變數）指定給左方的變數。

下例把`a = 2`，那麼`a`就是整數的`2`；若是`a = 2.0`，那麼`a`就會是浮點數（floating point，也就是有小數點的）的`a`。

In [ ]:
a = 2 # integer
b = 3.0 # floating point number
c = '1.123' # string
d = "2" # string

In [ ]:
# assign a + b to a
a = a + b
print(a)

# print a and b
print(a, b)

5.0
5.0 3.0

## Using `type()` to check data type

In [ ]:
a, b = 1, 1.0 # integer and floating point
c, d = '1.1', "1.1" # string

print(type(a))
print(b)
print(a)
print(type(c))

# check the type of a, b, c
a, b, c = '2', 2, 2.0

print(type(a), type(b), type(c))

# check the type of d, e
d, e = [], {}

print(type(d), type(e))

<class 'int'>
1.0
1
<class 'str'>
<class 'str'> <class 'int'> <class 'float'>
<class 'list'> <class 'dict'>

## Converting data type

* 變數可以用`int()`、`float()`和`str()`在彼此間轉換（左側為最常用的三個）。
* 但要注意的是，`float()`相當於是有小數點的數字，若被`int()`強制轉換，會伴隨精確度的流失。例如`a = int(2.3)`會只剩下`2`，且沒辦法復原。
* 如果將`integer`乘上`float`的話，整個變數會變成`float`。如下面的例子中，type將會是`float`。

```
a = 3
print(type(a * 3.0))
```

In [ ]:
a = 2.3

# convert a to integer, then assign to b
b = int(a)
print(b, type(b))

# convert b*3 to float, then assign to c
c = float(b*3)

# print c, type of c, type of b*3.0
print(c, type(c), type(b*3.0))

2 <class 'int'>
6.0 <class 'float'> <class 'float'>

## Printing with variables

在列印輸出時，有時候我們會希望在前後多印出一些字串來說明印出來的那個結果是什麼。此時要用print formatting[String print formatting](https://docs.python.org/2/library/string.html)。以`print("my name is %s, age %s"%(name, 36.1234567))`為例，其表示要將後面那兩個變數或者數值的內容，放到前面兩個`%s`的位置，且`%s`是表示，要用字串來輸出。
* `%d` means printing as decimal number
* `%s` means printing as string
* `%f` means print as floating point number

**參考資料：**可以參考這篇[PyFormat](https://pyformat.info/)來了解`%d`和`.format()`另外一種print formatting的寫法。也可參考以下網址的內容：https://docs.python.org/3/tutorial/inputoutput.html

In [ ]:
# print out the following message
# Your name is  YOURNAME
# Your name is YOURNAME ! Your age is 38! 
# Your name is jilung ! You age is 38
name = "YOURNAME"
age = 38

print("Your name is  {}".format(name))
print("Your name is {} ! Your age is {}! ".format(name, age))
print("Your name is jilung ! Your age is 38")

Your name is  YOURNAME
Your name is YOURNAME ! Your age is 38!
Your name is jilung ! Your age is 38

In [ ]:
print("Your name is {} ! Your age is {}".format("HSIEH JILUNG", "38"))
print(f"Your name is {name} and age {age}")
print("Your name is {:20} and age {:20}".format(name, age))  # define the length of input string

Your name is HSIEH JILUNG ! Your age is 38
Your name is YOURNAME and age 38
Your name is YOURNAME             and age                   38

**常見錯誤**：前面字串中所預留的位置和後面所欲帶入的變數／數值數量若不相同會怎樣？例如下面這個例子中，後面的arguments只有一個，前面則有兩個formatted slot。

In [ ]:
print("Your name is %s ! You age is %s"%('jilung'))

TypeError: ignored

**常見錯誤狀態二**：而下面這個是少一個formatted slot，後面有兩個變數，前面僅有一個`%s`。

In [ ]:
print("Your name is ! Your age is %s! "%(name, age))

TypeError: not all arguments converted during string formatting

# Arithemetic operations +, -, *, **, /, %

四則運算的計算方式和普遍數學的運算相同，由左而右，括號內先做，先乘除後加減。

* `**` - "power of."
* `%` - "mod" e.g., `5%3==2`, `4%2==0`.
* `/` - "divide" varied by data type of numberator and denominator

In [ ]:
a, b = 10, 3

# print a and b
print("a = %d, b = %d"%(a, b))

# print the result of a/b and a%b
print("a/b=", a/b, "a/b=", a%b)

# print a/b and a%b but formatted to integer
print("a/b=%d, a%%b=%d"%(a/b, a%b))

# print a/b and a%b but formatted to float
print("a/b=%f, a%%b=%f"%(a/b, a%b))


# a divided by float(b)
print(a/float(b))

# b divides float(a)
print(float(a)/b)

# print ((a+b)**2+(a-b)**2)/float(a**2+b**2) and it result
print("((a+b)**2+(a-b)**2)/float(a**2+b**2) = ", ((a+b)**2+(a-b)**2)/float(a**2+b**2))

a = 10, b = 3
a/b= 3.3333333333333335 a/b= 1
a/b=3, a%b=1
a/b=3.333333, a%b=1.000000
3.3333333333333335
3.3333333333333335
((a+b)**2+(a-b)**2)/float(a**2+b**2) =  2.0

**字串除以數字**：如果把字串除以整數的話會產生什麼樣的情形？字串是沒辦法除以整數的，因為沒有意義，所以會產生*TypeError*。

In [ ]:
print(str(a)/b)
# TypeError: unsupported operand type(s) for /: 'str' and 'int'

TypeError: ignored

# Example. Converting Temperature format

攝氏tc溫度等於華氏tf溫度-32後乘以5/9。

In [ ]:
tf = 50
# Code shoulb be here
tc = (tf - 32) * 5 / 9
print(tc)

10.0